* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'raleway',sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;

}
p {
    font-size: 14px;
}

/* ---- navbar jpt ---*/



.navbar-inverse {
    background-color: transparent ;
    border-color: transparent !important;
    z-index: 110;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-inverse .navbar-nav > li > a {
    color: #B5B5B5;
    font-family: "Raleway", sans-serif;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;

}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #129CF3 !important;
}
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff !important;
}
.navbar-brand {
    padding: 9px 15px;
}
.navbar-brand img  {
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-inverse .navbar-nav > .active>a,
.navbar-inverse .navbar-nav > .active>a:hover,
.navbar-inverse .navbar-nav > .active>a:focus {
    background-color: transparent;
    color: #129CF3;
}









/*------------------------ headers *--------------------------------------*/
header .brand a {
    display:block;
    font-family: "Pacifico";

    /* font-family: 'Tangerine', serif; */

    font-size:1em;
    color: #ffffff;
    margin-bottom:10px;
    padding-bottom: 100px;
   /* text-align: center;*/

}
/*.row h1{

    font-size: 5.5em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 70px;
    margin-bottom: 40px;
    my add
    padding-bottom: 20px;
}*/
.header-text h1 {
    color: #e8e8e8;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase;

}
.header-text p {
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}
/*
.row p {
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}*/
/* this makes image not move */
.header {
    background-image: url("../images/s2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;

}

.header-overlay {
    background-color: rgba(31,31,31,0.45);/* 0.75 is for transperancy*/
}

.header-my img {
    width: 100%;
    border: solid 8px #ffffff;

}

.header-btns {
    margin-top: 90px;
    margin-bottom: 50px;
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited
{

    background: transparent;
    border-color: #1f9fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;


}
.btn-download:hover {
    background-color: #129CF3;
    color: #ffffff;
}


/*.banner {
    background: url(../images/s2.jpg) no-repeat 0px 0;
    background-size: cover;
    padding: 1em 0 5em;
}*/
/* ---- generic css ---*/
.section-title {
    padding-top: 80px;
    padding-bottom: 50px;
}
.section-title h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;


}
.section-title p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}


/* ------ pseudo code use -----*/
.section-title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #129CF3;
    margin-left: -30px;
}


/*  About Us page */

.img-responsive {
    border: 5px solid #1dadd3;
}

.choose-us-wraper {

    padding-top: 20px;
}

.modal-content {
    /*background: url(../images/bg.png) #000 repeat;*/
    color: #000000;
}
/* about section details */
.about h3 {
    font-size: 2.2em;
}
.about h3 span {
    color: #333df3;
}
.about h4 {
    font-size: 1.2em;
    color: #a5a5a5;
    margin-top: 1em;
}
ul.address {
    margin-top: 1.5em;
    border-top: 3px dashed #1f9fff;
    padding-top: 0.5em;
}
ul.address li {
    display: block;
}
ul.address li ul.agileits-address-text li:nth-child(1) {
    width: 20%;
}
ul.address li ul.agileits-address-text li {
    display: inline-block;
    font-size: 1.2em;
    color: #000000;
    margin-top: 1em;
    font-weight: 100;
}
/* my skill part */
.modal-header h4 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;


}
.modal-header h4:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #129CF3;
    margin-left: -30px;
}


/* testimonial part css */
.testimonial {
    background-image: url("../images/testimonial-bg.jpg");
    background-attachment: fixed;  /* yesko kaam le garda background fix vako hooo..cool feature */
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;

}
.testimonial-overlay {
    background-color: rgba(31, 31, 31, .75);
    padding-top: 80px;
    padding-bottom: 80px;
}
.carousel-indicators {
    bottom: -10px;
}
.carousel-inner .item img {
    border: 2px solid #129CF3;
    border-radius: 50%; /*  yesle garda image golo vako ho */
    padding: 3px;
}
.testimonial-caption {
    padding-bottom: 70px;
}
.testimonial-caption h2 {
    color: #129CF3;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;

}
.testimonial-caption h4 {
    color: #129CF3;
}

.testimonial-caption h4 span {

    color: #D8D8D8;
    font-style: italic;
    font-weight: 300;

}

.testimonial-caption p {
    color: #D8D8D8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}



/* contact us  */

.contact-us-form .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: .8;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;

}
#message {
    height: 117px;
    resize: none;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {

    background-color: transparent;
    border: 1px solid #129CF3;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #129CF3;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.submit-btn:hover {
    background: #129CF3;
    color: #fff;
    border-color: #129CF3;
}

/* social icons */
.social-iconsss ul li {
    list-style: none;
    display: inline;
    padding-left: 10px;
    text-align: center;
}


.social-iconss ul li a {
    text-decoration: none;
    /*display: inline-block; */
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 20px;
    height: 10px;
    line-height: 49px;
    color: #2582d5;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;

}
.social-iconsss ul li a:hover {

    background-color: #131bf3;
    border: 1px solid #3337f3;
    color: #fff;
}
.social-iconsss ul li a i {
    font-size: 20px;
}




/* vvi */
.m_nav_item {
    display: inline;
    line-height: 100px;
    margin-right: 50px;
}

.m_nav_item {
    margin-top: 15px;
}

.w3-button-info {
    line-height: inherit !important;
}
.w3-button {
    margin: 1em 0 0 0;
}




.navbar-default .navbar-nav>li>a {
    color: #ffffff !important;
}